<%= stylesheet_link_tag "sliders" %>

<%= form_tag '/sliders', {:class => 'form-horizontal'} do %>
  <legend>Create Slide</legend>
  <div class="form-group">
    <label for="inputTitle" class="col-lg-2 control-label">Title <font color="red">*</font></label>
    <div class="col-lg-10">
    <%= text_field 'slideinfo', :title, {:class => 'form-control', :id => 'inputTitle'} %>
    </div>
  </div>
  <div class="form-group">
    <label for="slideArea" class="col-lg-2 control-label">Slide <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= text_area 'slideinfo', :body, {:class => 'form-control', :id => 'slideArea', :row => '3'} %>
      <span class="help-block">If you check this slide, press 'preview' and open slide.
        <a href="/sliders/preview" data-toggle="modal" data-target="#myModal" style="float:right;" class="btn btn-success btn-xs">preview</a>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Share Mode <font color="red">*</font></label>
    <div class="col-lg-10">
      <div class="radio">
        <label>
          <%= radio_button 'slideinfo', :mode, 'public', {:checked => true, :id => 'optionsRadios1'} %> Public
        </label>
      </div>
      <div class="radio">
        <label>
          <%= radio_button 'slideinfo', :mode, 'private', {:checked => false, :id => 'optionsRadios2'} %> Private
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <%= email_field 'slideinfo', :email, {:class => 'form-control', :id => 'inputEmail'} %>
    </div>
  </div>
  <div class="form-group">
    <label for="mainTag" class="col-lg-2 control-label">Main Tag <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :maintag, {'program' => 'program', 'tool' => 'tool', 'system' => 'system', 'memo'=> 'memo', 'other' => 'other'}, {}, {:class => 'form-control', :id => 'mainTag'} %>
    </div>
  </div>
  <div class="form-group">
    <label for="subTags" class="col-lg-2 control-label">Sub Tags</label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :subtags, {'NONE' => 'NONE', 'TODO1' => 'TODO1', 'TODO2' => 'TODO2', 'TODO3' => 'TODO3', 'TODO4' => 'TODO4'}, {}, {:class => 'form-control', :id => 'subTags', :multiple => ''} %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-default btn-sm">Cancel</button>
      <button class="btn btn-primary btn-sm" type="submit">Create</button>
    </div>
  </div>
<% end %>

<!-- Preview Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div> <!-- /.modal -->
