<%= stylesheet_link_tag "sliders" %>
<%= javascript_include_tag "reveal" %>
<%= javascript_include_tag "head.min" %>

<style>
textarea { resize:vertical; }
</style>

<%= form_tag '/sliders', {:class => 'form-horizontal', :name => 'slide-form', :id => 'slide-form', :target => '_blank'} do %>
  <legend>Create Slide</legend>

  <!-- Title -->
  <div class="form-group">
    <label for="inputTitle" class="col-lg-2 control-label">Title <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= text_field 'slideinfo', :title, {:class => 'form-control', :id => 'inputTitle'} %>
    </div>
  </div>

  <!-- Theme -->
  <div class="form-group">
    <label for="slide_theme" class="col-lg-2 control-label">Theme <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :slide_theme, {'default' => 'default', 'beige' => 'beige', 'night' => 'night', 'serif' => 'serif', 'simple' => 'simple', 'sky' => 'sky'}, {}, {:class => 'form-control', :id => 'slide_theme'} %>
    </div>
  </div>

  <!-- Switch -->
  <div class="form-group">
    <label for="slide_trans" class="col-lg-2 control-label">Switch <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :slide_trans, {'default' => 'default', 'cube' => 'cube', 'page' => 'page', 'concave' => 'concave', 'zoom' => 'zoom', 'linear' => 'linear', 'fade' => 'fade', 'none' => 'none'}, {}, {:class => 'form-control', :id => 'slide_trans'} %>
    </div>
  </div>

  <!-- Slide -->
  <div class="form-group">
    <label for="slide_area" class="col-lg-2 control-label">Slide <font color="red">*</font></label>
    <div class="col-lg-10">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a href="#" class="btn btn-default btn-xs" onClick="appendNextPage();"><i class="fa fa-caret-right"></i></a>
          <a href="#" class="btn btn-default btn-xs" onClick="appendDownPage();"><i class="fa fa-caret-down"></i></a>
          <a href="#" class="btn btn-default btn-xs" onClick="toBold();"><i class="fa fa-bold"></i></a>
          <a href="#" class="btn btn-default btn-xs" onClick="toItalic();"><i class="fa fa-italic"></i></a>
          <a href="#" class="btn btn-default btn-xs" onClick="toTable();"><i class="fa fa-table"></i></a>
        </div>
      </div>
      <%= text_area 'slideinfo', :body, {:class => 'form-control', :id => 'slide_area', :row => '3'} %>
      <span class="help-block">If you check this slide, press 'preview' and open slide.</span>
    </div>
  </div>

  <!-- Open Mode -->
  <div class="form-group">
    <label class="col-lg-2 control-label">Share Mode <font color="red">*</font></label>
    <div class="col-lg-10">
      <div class="radio">
        <label>
          <%= radio_button 'slideinfo', :mode, 'public', {:checked => true, :id => 'optionsRadios1'} %> Public
        </label>
      </div>
      <div class="radio">
        <label>
          <%= radio_button 'slideinfo', :mode, 'private', {:checked => false, :id => 'optionsRadios2'} %> Private
        </label>
      </div>
    </div>
  </div>

  <!-- Address -->
  <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">Email</label>
    <div class="col-lg-10">
      <%= email_field 'slideinfo', :email, {:class => 'form-control', :id => 'inputEmail'} %>
    </div>
  </div>

  <!-- Main Tag -->
  <div class="form-group">
    <label for="mainTag" class="col-lg-2 control-label">Main Tag <font color="red">*</font></label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :maintag, {'program' => 'program', 'tool' => 'tool', 'system' => 'system', 'memo'=> 'memo', 'other' => 'other'}, {}, {:class => 'form-control', :id => 'mainTag'} %>
    </div>
  </div>

  <!-- Sub Tags -->
  <div class="form-group">
    <label for="subTags" class="col-lg-2 control-label">Sub Tags</label>
    <div class="col-lg-10">
      <%= select 'slideinfo', :subtags, {'NONE' => 'NONE', 'TODO1' => 'TODO1', 'TODO2' => 'TODO2', 'TODO3' => 'TODO3', 'TODO4' => 'TODO4'}, {}, {:class => 'form-control', :id => 'subTags', :multiple => ''} %>
    </div>
  </div>

  <!-- Commits -->
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button class="btn btn-default btn-sm">Cancel</button>
      <button class="btn btn-primary btn-sm" type="submit">Create</button>
      <button class="btn btn-primary btn-sm" type="submit" name="preview">Preview</button>
    </div>
  </div>
<% end %>

<script>
  function appendNextPage() {
    document.getElementById("slide_area").value += "\n---\n";
  }
  function appendDownPage() {
    document.getElementById("slide_area").value += "\n>>>\n";
  }
  function toBold() {
    document.getElementById("slide_area").value += "** bold **";
  }
  function toItalic() {
    document.getElementById("slide_area").value += "_ italic _";
  }
  function toTable() {
    document.getElementById("slide_area").value += "\n";
    document.getElementById("slide_area").value += "|column1|column2|\n";
    document.getElementById("slide_area").value += "|:------|------:|\n";
    document.getElementById("slide_area").value += "|value1 |value2 |\n";
  }
</script>
