<%= javascript_include_tag "reveal" %>
<%= javascript_include_tag "head.min" %>
<%= stylesheet_link_tag "reveal" %>
<%= stylesheet_link_tag "reveal-theme/default" %>

<!-- START contents -->

<div class="reveal">
  <div class="slides">
    <%= @body.html_safe %>
  </div>
</div>

<!--  END  contents -->

<script>
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none
  });
</script>
