<%= javascript_include_tag "reveal" %>
<%= javascript_include_tag "head.min" %>
<%= stylesheet_link_tag "reveal" %>
<%= stylesheet_link_tag "reveal-theme/#{@theme}" %>

<!-- START contents -->

<div class="reveal">
  <div class="slides">
    <section data-markdown data-separator="^\n---$" data-vertical="^\n>>>$">
      <script type="text/template">
        <%= @body.html_safe %>
      </script>
    </section>
  </div>
</div>

<!--  END  contents -->

<script>
  Reveal.initialize({
    controls: true,
    progress: true,
    history: true,
    center: true,

    theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
    transition: Reveal.getQueryHash().transition || "<%= @trans %>", // default/cube/page/concave/zoom/linear/fade/none

    // Parallax scrolling
    // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
    // parallaxBackgroundSize: '2100px 900px',

    dependencies: [
      { src: "<%= asset_path 'lib/js/classList.js' %>", condition: function() { return !document.body.classList; } },
      { src: "<%= asset_path 'plugin/markdown/marked.js' %>", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: "<%= asset_path 'plugin/markdown/markdown.js' %>", condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: "<%= asset_path 'plugin/highlight/highlight.js' %>", async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: "<%= asset_path 'plugin/zoom-js/zoom.js' %>", async: true, condition: function() { return !!document.body.classList; } },
      { src: "<%= asset_path 'plugin/notes/notes.js' %>", async: true, condition: function() { return !!document.body.classList; } }
    ]
  });
</script>
